p {
  font-family: Arial;
  font-size: 25px;
}
h1{
  color: red;
  font-family: Cooper Std Black;

}
h2{
  color: orange;
  font-family: Lucida Handwriting;
}

h3{
  color: green;
  font-family: Comic Sans MS;
}

}

body{
  margin:auto;
  max-width:500px;
} 
